<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .spring {
        background-color:black;
        color:white;
        padding:20px;
        }
    </style>
</head>
<body>
<h1>Learning create template wih html</h1>
<h2>Learning Spring :</h2>
<div class="spring">
<ol type="1">
    <li>Spring Framework</li>
    <li>Spring Boot</li>
    <li>Spring MVC</li>
    <li>Spring Security</li>
</ol>
</div>
<p>Add link in html</p>
<a href="https://www.w3school.com">This is a link to www.3schoo.com</a>
</body>
</html>